apps/web/public/ndl-koten-ocr.odd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml" schematypens="http://purl.oclc.org/dsdl/schematron"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="ja">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title xml:lang="ja">NDL古典籍OCR TEIカスタマイゼーション（最小版）</title>
        <title xml:lang="en">NDL Koten OCR TEI Customization (Minimal)</title>
        <author>中村覚</author>
      </titleStmt>
      <publicationStmt>
        <publisher>中村覚</publisher>
        <availability>
          <licence target="https://creativecommons.org/licenses/by/4.0/">
            <p xml:lang="ja">このODDはクリエイティブ・コモンズ 表示 4.0 国際ライセンスの下に提供されています</p>
            <p xml:lang="en">This ODD is licensed under Creative Commons Attribution 4.0 International License</p>
          </licence>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p xml:lang="ja">NDL古典籍OCR-Lite出力形式用に作成（最小構成）</p>
        <p xml:lang="en">Created for NDL Koten OCR-Lite output format (minimal configuration)</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <front>
      <titlePage>
        <docTitle>
          <titlePart xml:lang="ja">NDL古典籍OCR TEIカスタマイゼーション（最小版）</titlePart>
          <titlePart xml:lang="en">NDL Koten OCR TEI Customization (Minimal)</titlePart>
        </docTitle>
        <docAuthor>中村覚</docAuthor>
      </titlePage>
    </front>
    <body>
      <div>
        <head xml:lang="ja">概要</head>
        <p xml:lang="ja">このODD (One Document Does it all) は、NDL古典籍OCR-Liteアプリケーションが生成するTEI XMLドキュメントの最小限のスキーマを定義します。実際に使用する要素と属性のみを含みます。</p>
      </div>
      <div>
        <head xml:lang="en">Overview</head>
        <p xml:lang="en">This ODD (One Document Does it all) defines the minimal schema for TEI XML documents generated by the NDL Koten OCR-Lite application. It includes only the elements and attributes actually used.</p>
      </div>
      
      <div>
        <head>Schema Specification</head>
        
        <schemaSpec xmlns:sch="http://purl.oclc.org/dsdl/schematron" ident="ndl_koten_ocr_minimal" start="TEI" prefix="tei_" docLang="ja">
          
          <!-- Define only the model classes we need -->
          <classSpec ident="att.global" type="atts" mode="add">
            <desc xml:lang="ja">グローバル属性</desc>
            <desc xml:lang="en">Global attributes</desc>
            <attList>
              <attDef ident="xml:id" mode="add">
                <desc xml:lang="ja">一意識別子</desc>
                <desc xml:lang="en">Unique identifier</desc>
                <datatype>
                  <dataRef key="ID"/>
                </datatype>
              </attDef>
              <attDef ident="xml:lang" mode="add">
                <desc xml:lang="ja">言語コード</desc>
                <desc xml:lang="en">Language code</desc>
                <datatype>
                  <dataRef key="teidata.language"/>
                </datatype>
              </attDef>
            </attList>
          </classSpec>
          
          <classSpec ident="att.typed" type="atts" mode="add">
            <desc xml:lang="ja">タイプ属性</desc>
            <desc xml:lang="en">Type attribute</desc>
            <attList>
              <attDef ident="type" mode="add">
                <desc xml:lang="ja">タイプ</desc>
                <desc xml:lang="en">Type</desc>
                <datatype>
                  <dataRef key="teidata.enumerated"/>
                </datatype>
              </attDef>
            </attList>
          </classSpec>
          
          <classSpec ident="att.pointing" type="atts" mode="add">
            <desc xml:lang="ja">参照属性</desc>
            <desc xml:lang="en">Pointing attributes</desc>
            <attList>
              <attDef ident="target" mode="add">
                <desc xml:lang="ja">参照先</desc>
                <desc xml:lang="en">Target reference</desc>
                <datatype>
                  <dataRef key="teidata.pointer"/>
                </datatype>
              </attDef>
            </attList>
          </classSpec>
          
          <classSpec ident="att.coordinated" type="atts" mode="add">
            <desc xml:lang="ja">座標属性</desc>
            <desc xml:lang="en">Coordinate attributes</desc>
            <attList>
              <attDef ident="ulx" mode="add">
                <desc xml:lang="ja">左上X座標</desc>
                <desc xml:lang="en">Upper left x coordinate</desc>
                <datatype>
                  <dataRef key="teidata.numeric"/>
                </datatype>
              </attDef>
              <attDef ident="uly" mode="add">
                <desc xml:lang="ja">左上Y座標</desc>
                <desc xml:lang="en">Upper left y coordinate</desc>
                <datatype>
                  <dataRef key="teidata.numeric"/>
                </datatype>
              </attDef>
              <attDef ident="lrx" mode="add">
                <desc xml:lang="ja">右下X座標</desc>
                <desc xml:lang="en">Lower right x coordinate</desc>
                <datatype>
                  <dataRef key="teidata.numeric"/>
                </datatype>
              </attDef>
              <attDef ident="lry" mode="add">
                <desc xml:lang="ja">右下Y座標</desc>
                <desc xml:lang="en">Lower right y coordinate</desc>
                <datatype>
                  <dataRef key="teidata.numeric"/>
                </datatype>
              </attDef>
            </attList>
          </classSpec>
          
          <!-- Root element -->
          <elementSpec ident="TEI" mode="add">
            <desc xml:lang="ja">NDL古典籍OCR TEIドキュメントのルート要素</desc>
            <desc xml:lang="en">Root element for NDL Koten OCR TEI documents</desc>
            <classes>
              <memberOf key="att.global"/>
            </classes>
            <content>
              <sequence>
                <elementRef key="teiHeader"/>
                <elementRef key="text"/>
                <elementRef key="facsimile" minOccurs="0"/>
              </sequence>
            </content>
            <exemplum xml:lang="ja">
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
                <TEI>
                  <teiHeader>
                    <fileDesc>
                      <titleStmt>
                        <title>OCR処理結果</title>
                        <respStmt>
                          <resp>Automated Transcription</resp>
                          <name ref="https://github.com/ndl-lab/ndlkotenocr-lite">NDL古典籍OCR-Liteアプリケーション</name>
                        </respStmt>
                      </titleStmt>
                      <publicationStmt>
                        <p>Converted from IIIF Manifest</p>
                      </publicationStmt>
                      <sourceDesc>
                        <p>https://catalog.lib.kyushu-u.ac.jp/image/manifest/1/820/411193.json</p>
                      </sourceDesc>
                    </fileDesc>
                  </teiHeader>
                  <text>
                    <body>
                      <p><!-- テキスト内容 --></p>
                    </body>
                  </text>
                  <facsimile><!-- 画像情報 --></facsimile>
                </TEI>
              </egXML>
            </exemplum>
          </elementSpec>
          
          <!-- Header elements -->
          <elementSpec ident="teiHeader" mode="add">
            <desc xml:lang="ja">文書情報を含むメタデータヘッダー</desc>
            <desc xml:lang="en">Metadata header containing document information</desc>
            <classes>
              <memberOf key="att.global"/>
            </classes>
            <content>
              <elementRef key="fileDesc"/>
            </content>
          </elementSpec>
          
          <elementSpec ident="fileDesc" mode="add">
            <desc xml:lang="ja">ファイル記述</desc>
            <desc xml:lang="en">File description</desc>
            <classes>
              <memberOf key="att.global"/>
            </classes>
            <content>
              <sequence>
                <elementRef key="titleStmt"/>
                <elementRef key="publicationStmt"/>
                <elementRef key="sourceDesc"/>
              </sequence>
            </content>
          </elementSpec>
          
          <elementSpec ident="titleStmt" mode="add">
            <desc xml:lang="ja">タイトル声明</desc>
            <desc xml:lang="en">Title statement</desc>
            <classes>
              <memberOf key="att.global"/>
            </classes>
            <content>
              <sequence>
                <elementRef key="title"/>
                <elementRef key="respStmt" minOccurs="0" maxOccurs="unbounded"/>
              </sequence>
            </content>
          </elementSpec>
          
          <elementSpec ident="title" mode="add">
            <desc xml:lang="ja">タイトル</desc>
            <desc xml:lang="en">Title</desc>
            <classes>
              <memberOf key="att.global"/>
            </classes>
            <content>
              <textNode/>
            </content>
          </elementSpec>
          
          <elementSpec ident="respStmt" mode="add">
            <desc xml:lang="ja">責任声明</desc>
            <desc xml:lang="en">Responsibility statement</desc>
            <classes>
              <memberOf key="att.global"/>
            </classes>
            <content>
              <sequence>
                <elementRef key="resp"/>
                <elementRef key="name"/>
              </sequence>
            </content>
          </elementSpec>
          
          <elementSpec ident="resp" mode="add">
            <desc xml:lang="ja">責任の記述</desc>
            <desc xml:lang="en">Responsibility description</desc>
            <classes>
              <memberOf key="att.global"/>
            </classes>
            <content>
              <textNode/>
            </content>
          </elementSpec>
          
          <elementSpec ident="name" mode="add">
            <desc xml:lang="ja">名前</desc>
            <desc xml:lang="en">Name</desc>
            <classes>
              <memberOf key="att.global"/>
            </classes>
            <content>
              <textNode/>
            </content>
            <attList>
              <attDef ident="ref" mode="add">
                <desc xml:lang="ja">参照URL</desc>
                <desc xml:lang="en">Reference URL</desc>
                <datatype>
                  <dataRef key="teidata.pointer"/>
                </datatype>
              </attDef>
            </attList>
          </elementSpec>
          
          <elementSpec ident="publicationStmt" mode="add">
            <desc xml:lang="ja">出版声明</desc>
            <desc xml:lang="en">Publication statement</desc>
            <classes>
              <memberOf key="att.global"/>
            </classes>
            <content>
              <elementRef key="p"/>
            </content>
          </elementSpec>
          
          <elementSpec ident="sourceDesc" mode="add">
            <desc xml:lang="ja">ソース記述</desc>
            <desc xml:lang="en">Source description</desc>
            <classes>
              <memberOf key="att.global"/>
            </classes>
            <content>
              <elementRef key="p"/>
            </content>
          </elementSpec>
          
          <!-- Text structure elements -->
          <elementSpec ident="text" mode="add">
            <desc xml:lang="ja">テキスト</desc>
            <desc xml:lang="en">Text</desc>
            <classes>
              <memberOf key="att.global"/>
            </classes>
            <content>
              <elementRef key="body"/>
            </content>
          </elementSpec>
          
          <elementSpec ident="body" mode="add">
            <desc xml:lang="ja">本文</desc>
            <desc xml:lang="en">Body</desc>
            <classes>
              <memberOf key="att.global"/>
            </classes>
            <content>
              <elementRef key="p" minOccurs="1" maxOccurs="unbounded"/>
            </content>
          </elementSpec>
          
          <elementSpec ident="p" mode="add">
            <desc xml:lang="ja">段落</desc>
            <desc xml:lang="en">Paragraph</desc>
            <classes>
              <memberOf key="att.global"/>
            </classes>
            <content>
              <alternate minOccurs="0" maxOccurs="unbounded">
                <textNode/>
                <elementRef key="pb"/>
                <elementRef key="lb"/>
              </alternate>
            </content>
          </elementSpec>
          
          <!-- Page and line elements -->
          <elementSpec ident="pb" mode="add">
            <desc xml:lang="ja">ページ区切り</desc>
            <desc xml:lang="en">Page break</desc>
            <classes>
              <memberOf key="att.global"/>
            </classes>
            <content>
              <empty/>
            </content>
            <attList>
              <attDef ident="n" mode="add">
                <desc xml:lang="ja">ページ番号</desc>
                <desc xml:lang="en">Page number</desc>
                <datatype>
                  <dataRef key="teidata.text"/>
                </datatype>
              </attDef>
              <attDef ident="facs" mode="add">
                <desc xml:lang="ja">ファクシミリ参照</desc>
                <desc xml:lang="en">Facsimile reference</desc>
                <datatype>
                  <dataRef key="teidata.pointer"/>
                </datatype>
              </attDef>
            </attList>
            <exemplum xml:lang="ja">
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
                <pb n="1" facs="https://catalog.lib.kyushu-u.ac.jp/image/iiif/1/820/411193/368828.tiff/full/max/0/default.jpg"/>
              </egXML>
            </exemplum>
          </elementSpec>
          
          <elementSpec ident="lb" mode="add">
            <desc xml:lang="ja">行区切り</desc>
            <desc xml:lang="en">Line break</desc>
            <classes>
              <memberOf key="att.global"/>
              <memberOf key="att.typed"/>
            </classes>
            <content>
              <empty/>
            </content>
            <attList>
              <attDef ident="n" mode="add">
                <desc xml:lang="ja">行番号</desc>
                <desc xml:lang="en">Line number</desc>
                <datatype>
                  <dataRef key="teidata.text"/>
                </datatype>
              </attDef>
              <attDef ident="corresp" mode="add">
                <desc xml:lang="ja">対応するゾーン</desc>
                <desc xml:lang="en">Corresponding zone</desc>
                <datatype>
                  <dataRef key="teidata.pointer"/>
                </datatype>
              </attDef>
            </attList>
            <exemplum xml:lang="ja">
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
                <p>
                  <pb n="1" facs="https://catalog.lib.kyushu-u.ac.jp/image/iiif/1/820/411193/368828.tiff/full/max/0/default.jpg"/>
                  <lb n="1.1" type="line" corresp="#zone-1-1"/>
                  いつれの御時により女御更花あまたさふらひ給ける
                  <lb n="1.2" type="line" corresp="#zone-1-2"/>
                  □
                  <lb n="1.3" type="line" corresp="#zone-1-3"/>
                  中に。いとやんことなきはにはあらぬか。すくれ
                </p>
              </egXML>
            </exemplum>
          </elementSpec>
          
          <!-- Facsimile elements -->
          <elementSpec ident="facsimile" mode="add">
            <desc xml:lang="ja">ファクシミリ</desc>
            <desc xml:lang="en">Facsimile</desc>
            <classes>
              <memberOf key="att.global"/>
            </classes>
            <content>
              <elementRef key="surface" minOccurs="1" maxOccurs="unbounded"/>
            </content>
            <attList>
              <attDef ident="sameAs" mode="add">
                <desc xml:lang="ja">同一参照</desc>
                <desc xml:lang="en">Same as reference</desc>
                <datatype>
                  <dataRef key="teidata.pointer"/>
                </datatype>
              </attDef>
            </attList>
            <exemplum xml:lang="ja">
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
                <facsimile sameAs="https://catalog.lib.kyushu-u.ac.jp/image/manifest/1/820/411193.json">
                  <surface sameAs="https://catalog.lib.kyushu-u.ac.jp/image/iiif/1/820/411193/368828.tiff/full/max/0/default.jpg" 
                    ulx="0" uly="0" lrx="563" lry="790">
                    <graphic url="https://catalog.lib.kyushu-u.ac.jp/image/iiif/1/820/411193/368828.tiff/full/max/0/default.jpg" 
                      width="563px" height="790px"/>
                    <zone xml:id="zone-1-1" ulx="453" uly="55" lrx="492" lry="744"/>
                    <zone xml:id="zone-1-2" ulx="441" uly="17" lrx="459" lry="68"/>
                  </surface>
                </facsimile>
              </egXML>
            </exemplum>
          </elementSpec>
          
          <elementSpec ident="surface" mode="add">
            <desc xml:lang="ja">表面</desc>
            <desc xml:lang="en">Surface</desc>
            <classes>
              <memberOf key="att.global"/>
              <memberOf key="att.coordinated"/>
            </classes>
            <content>
              <sequence>
                <elementRef key="graphic" minOccurs="0" maxOccurs="1"/>
                <elementRef key="zone" minOccurs="0" maxOccurs="unbounded"/>
              </sequence>
            </content>
            <attList>
              <attDef ident="sameAs" mode="add">
                <desc xml:lang="ja">同一参照</desc>
                <desc xml:lang="en">Same as reference</desc>
                <datatype>
                  <dataRef key="teidata.pointer"/>
                </datatype>
              </attDef>
            </attList>
          </elementSpec>
          
          <elementSpec ident="graphic" mode="add">
            <desc xml:lang="ja">画像</desc>
            <desc xml:lang="en">Graphic</desc>
            <classes>
              <memberOf key="att.global"/>
            </classes>
            <content>
              <empty/>
            </content>
            <attList>
              <attDef ident="url" mode="add">
                <desc xml:lang="ja">URL</desc>
                <desc xml:lang="en">URL</desc>
                <datatype>
                  <dataRef key="teidata.pointer"/>
                </datatype>
              </attDef>
              <attDef ident="width" mode="add">
                <desc xml:lang="ja">幅</desc>
                <desc xml:lang="en">Width</desc>
                <datatype>
                  <dataRef key="teidata.outputMeasurement"/>
                </datatype>
              </attDef>
              <attDef ident="height" mode="add">
                <desc xml:lang="ja">高さ</desc>
                <desc xml:lang="en">Height</desc>
                <datatype>
                  <dataRef key="teidata.outputMeasurement"/>
                </datatype>
              </attDef>
            </attList>
          </elementSpec>
          
          <elementSpec ident="zone" mode="add">
            <desc xml:lang="ja">ゾーン</desc>
            <desc xml:lang="en">Zone</desc>
            <classes>
              <memberOf key="att.global"/>
              <memberOf key="att.coordinated"/>
            </classes>
            <content>
              <empty/>
            </content>
          </elementSpec>
          
          <!-- Define necessary datatypes -->
          <dataSpec ident="teidata.pointer" mode="add">
            <desc xml:lang="ja">ポインター</desc>
            <desc xml:lang="en">Pointer</desc>
            <content>
              <dataRef name="anyURI"/>
            </content>
          </dataSpec>
          
          <dataSpec ident="teidata.text" mode="add">
            <desc xml:lang="ja">テキスト</desc>
            <desc xml:lang="en">Text</desc>
            <content>
              <dataRef name="string"/>
            </content>
          </dataSpec>
          
          <dataSpec ident="teidata.numeric" mode="add">
            <desc xml:lang="ja">数値</desc>
            <desc xml:lang="en">Numeric</desc>
            <content>
              <dataRef name="double"/>
            </content>
          </dataSpec>
          
          <dataSpec ident="teidata.outputMeasurement" mode="add">
            <desc xml:lang="ja">出力測定値</desc>
            <desc xml:lang="en">Output measurement</desc>
            <content>
              <dataRef name="token" restriction="[\-+]?[\d]+(\.\d+)?(%|cm|mm|in|pt|pc|px|em|ex|ch|rem|vw|vh|vmin|vmax)"/>
            </content>
          </dataSpec>
          
          <dataSpec ident="teidata.language" mode="add">
            <desc xml:lang="ja">言語コード</desc>
            <desc xml:lang="en">Language code</desc>
            <content>
              <dataRef name="language"/>
            </content>
          </dataSpec>
          
          <dataSpec ident="teidata.enumerated" mode="add">
            <desc xml:lang="ja">列挙型</desc>
            <desc xml:lang="en">Enumerated</desc>
            <content>
              <dataRef name="token"/>
            </content>
          </dataSpec>
          
          <!-- Constraints -->
          <constraintSpec ident="line-zone-correspondence" scheme="schematron">
            <constraint>
              <sch:rule context="tei:lb[@corresp]">
                <sch:let name="zoneId" value="substring-after(@corresp, '#')"/>
                <sch:assert test="//tei:zone[@xml:id = $zoneId]">
                  行ブレークは存在するゾーンを参照する必要があります / Line break must reference an existing zone
                </sch:assert>
              </sch:rule>
            </constraint>
          </constraintSpec>
          
          <constraintSpec ident="page-numbering" scheme="schematron">
            <constraint>
              <sch:rule context="tei:lb[@n]">
                <sch:assert test="matches(@n, '^\d+\.\d+$')">
                  行番号は次の形式である必要があります: ページ.行 (例: 1.1, 2.3) / Line number must be in format: page.line (e.g., 1.1, 2.3)
                </sch:assert>
              </sch:rule>
            </constraint>
          </constraintSpec>
          
        </schemaSpec>
      </div>
    </body>
  </text>
</TEI>